<header>
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12">
<img alt="templatemo easy profile" class="img-responsive img-circle tm-border" src="images/1705192016709.jpeg"/>
<hr/>
<h1 class="tm-title bold shadow">Olá, Eu sou Helvio Carvalho.</h1>
<h1 class="white bold shadow">Tech Lead | Consultor Programador Senior | Analista de Requisitos</h1>
<ul class="social-icons">
<li><a class="fa fa-instagram" href="https://instagram.com/helviocarvalho77"></a></li>
<li><a class="fa fa-envelope" href="mailto:contatohelviocarvalho@gmail.com"></a></li>
<li><a class="fa fa-linkedin" href="https://www.linkedin.com/in/helviocarvalho/"></a></li>
<li><a class="fa fa-github" href="https://github.com/helviocarvalho13"></a></li>
</ul>
</div>
</div>
</div>
</header>